In [50]:
from pyresparser import ResumeParser
from docx import Document

In [51]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
stopw  = set(stopwords.words('english'))
df =pd.read_csv('job_final.csv')

In [52]:

print(stopw)

{'his', 'theirs', 'of', "needn't", "shouldn't", 'hers', 'so', 'in', 'against', 're', 'if', 'will', "wasn't", 'yours', 'the', 'yourself', 'do', "mustn't", 'there', 'it', 'some', 'and', 'was', 'other', 'him', 'on', 'further', 'her', "you'd", 'm', "mightn't", 'hasn', 'being', 'what', 'those', 'here', 'am', 'a', 'down', 'over', 'from', 'below', 'yourselves', "you're", 'into', 'such', 'too', 'up', 'whom', 'all', 'wasn', 'doing', 'me', 'doesn', 'that', 'are', 'their', 'mustn', 'not', 'been', 'shouldn', 'after', 'were', 'i', 'only', 'my', 'once', 'most', 'mightn', 'why', "you'll", 'again', 'no', 'when', 'can', 'own', "hasn't", 'any', 'or', 'ourselves', 'ours', 'during', 'just', 'll', 'o', 'they', 'haven', 'd', 'as', 'them', "hadn't", 'under', 'we', 'at', 'than', 'out', 'very', 'is', 'myself', 'which', 'these', 'have', 'has', 'he', 'ain', 'don', 's', 'before', 'who', 'to', 'now', 'she', "should've", 'few', 'same', 'wouldn', 've', 'hadn', 'between', 'itself', 'more', "it's", 'this', 'did', "doesn't", 'ma', 'until', 'an', 'above', 'by', 'off', 'couldn', 'shan', 'herself', 'nor', "didn't", "don't", 'while', 'our', "couldn't", "won't", "haven't", 'your', 'y', "shan't", 'each', "wouldn't", 'you', 'having', 'but', "isn't", 'weren', 'had', 'be', 'how', 'where', 'should', 'through', 'needn', "you've", "that'll", "she's", 'both', "weren't", 'because', 'then', 'about', "aren't", 'does', 'won', 'himself', 'aren', 'isn', 't', 'for', 'its', 'didn', 'themselves', 'with'}

In [53]:
df['test']=df['Job_Description'].apply(lambda x: ' '.join([word for word in str(x).split() if len(word)>2 and word not in (stopw)]))
df['test']

0       About company: Smart Food Safe Solutions Inc. ...
1       Location Bangalore Experience Years Job Descri...
2       Open Systems International, Inc. (OSI) www.osi...
3       About Job Software Testing Engineer Job Descri...
4       Location: Bangalore Experience: 6Years Skills ...
                              ...
1919    Skills Qualifications: Years experience Strong...
1920    Job TH10519_13189 Posted on: 29th May, 2019Job...
1921    Job Description spend percent lives buildings....
1922    (Job Number: 1905027) Job Title â€“ Web Develo...
1923    marry design engineering language ways produce...
Name: test, Length: 1924, dtype: object

In [54]:
df

,Unnamed: 0,url,Position,Company,Location,Job_Description,test
0,0,https://www.glassdoor.co.in/partner/jobListing...,Software Testing Internship,Smart Food Safe Solutions Inc,– Bengaluru,About the company:\nSmart Food Safe Solutions ...,About company: Smart Food Safe Solutions Inc. ...
1,1,https://www.glassdoor.co.in/partner/jobListing...,Embedded Software Testing,Mobiveil,– Bengaluru,Location : Bangalore\nExperience : 4+ Years\n\...,Location Bangalore Experience Years Job Descri...
2,2,https://www.glassdoor.co.in/partner/jobListing...,Senior Engineer - Software Testing (Bangalore ...,Open Systems International,– Bengaluru,"Open Systems International, Inc. (OSI) www.osi...","Open Systems International, Inc. (OSI) www.osi..."
3,3,https://www.glassdoor.co.in/partner/jobListing...,Software Testing Engineer,Bloom Solutions,– Bengaluru,About the Job\n\nSoftware Testing Engineer\n\n...,About Job Software Testing Engineer Job Descri...
4,4,https://www.glassdoor.co.in/partner/jobListing...,CIEL/SEL/1888: Software testing Engineer,CIEL HR Services,– Bengaluru,Location: Bangalore\nExperience: 3 to 6Years\n...,Location: Bangalore Experience: 6Years Skills ...
...,...,...,...,...,...,...,...
1919,3113,https://www.glassdoor.co.in/partner/jobListing...,Front End Developer,Cuemath,Bengaluru,Skills and Qualifications:\n\n2+ Years of expe...,Skills Qualifications: Years experience Strong...
1920,3115,https://www.glassdoor.co.in/partner/jobListing...,Technology Lead-Sharepoint Developer,Infogain,Bengaluru,Job ID : TH10519_13189\n\nPosted on: 29th of M...,"Job TH10519_13189 Posted on: 29th May, 2019Job..."
1921,3120,https://www.glassdoor.co.in/partner/jobListing...,Senior UI Developer,Siemens PLC,Bengaluru,Job Description\nWe spend 90 percent of\n\nour...,Job Description spend percent lives buildings....
1922,3122,https://www.glassdoor.co.in/partner/jobListing...,Web Developer,Fidelity Investments,Bengaluru,(Job Number: 1905027)\n\nJob Title â€“ Web Dev...,(Job Number: 1905027) Job Title â€“ Web Develo...
1923,3123,https://www.glassdoor.co.in/partner/jobListing...,Front End Developer - (Javascript),Softvision,Bengaluru,We marry design and engineering language in wa...,marry design engineering language ways produce...

In [55]:


filed="Test_CV/Chedly Chahed Resume.pdf"
# filed="Test_CV/HR.pdf"
# filed="Test_CV/CV.pdf"

try:
    doc = Document()
    with open(filed, 'r') as file:
        doc.add_paragraph(file.read())
    doc.save("text.docx")
    data1 = ResumeParser('text.docx').get_extracted_data()

except:
    data1 = ResumeParser(filed).get_extracted_data()
    
resume=data1['skills']

c:\Users\Chedly\Desktop\ING1\PythonProject\ProjectWork\virt\Lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.1 and is incompatible with the current spaCy version (2.3.9). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [56]:
print(resume)

['Database', 'German', 'Flask', 'French', 'System', 'Design', 'Java', 'Linux', 'English', 'Sql', 'Docker', 'R', 'Compliance', 'Postgresql', 'Js', 'Cloud', 'Django', 'Github', 'Rest', 'Html', 'Os', 'Css', 'Asp', 'Security', 'Mysql', 'Testing', 'Api', 'Access', 'Website', 'Php', 'P', 'Apis', 'Programming', 'Javascript', 'Windows', 'Python', 'Engineering', 'Ubuntu', 'C', 'Oracle']

In [57]:
skills=[]
skills.append(' '.join(word for word in resume))

In [58]:
skills

['Database German Flask French System Design Java Linux English Sql Docker R Compliance Postgresql Js Cloud Django Github Rest Html Os Css Asp Security Mysql Testing Api Access Website Php P Apis Programming Javascript Windows Python Engineering Ubuntu C Oracle']

In [59]:
import re

from ftfy import fix_text

def ngrams(string, n=3):
    string = fix_text(string) # fix text
    string = string.encode("ascii", errors="ignore").decode() #remove non ascii chars
    string = string.lower()
    chars_to_remove = [")","(",".","|","[","]","{","}","'"]
    rx = '[' + re.escape(''.join(chars_to_remove)) + ']'
    string = re.sub(rx, '', string)
    string = string.replace('&', 'and')
    string = string.replace(',', ' ')
    string = string.replace('-', ' ')
    string = string.title() # normalise case - capital at start of each word
    string = re.sub(' +',' ',string).strip() # get rid of multiple spaces and replace with a single
    string = ' '+ string +' ' # pad names for ngrams...
    string = re.sub(r'[,-./]|\sBD',r'', string)
    ngrams = zip(*[string[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]

In [60]:
from sklearn.feature_extraction.text import TfidfVectorizer
import re

In [61]:
vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams, lowercase=False)
tfidf = vectorizer.fit_transform(skills)
tfidf

<1x239 sparse matrix of type '<class 'numpy.float64'>'
	with 239 stored elements in Compressed Sparse Row format>

In [62]:
from sklearn.neighbors import NearestNeighbors
nbrs = NearestNeighbors(n_neighbors=1, n_jobs=-1).fit(tfidf)
test = (df['test'].values.astype('U'))

In [63]:

def getNearestN(query):
  queryTFIDF_ = vectorizer.transform(query)
  distances, indices = nbrs.kneighbors(queryTFIDF_)
  return distances, indices

In [64]:
distances, indices = getNearestN(test)
test = list(test) 
matches = []

In [65]:
for i,j in enumerate(indices):
    # dist=round(distances[i][0],2)
    dist = round(1 / (1 + distances[i][0]) * 100, 2)

    temp = [dist]
    matches.append(temp)
    
matches = pd.DataFrame(matches, columns=['Match confidence'])

In [66]:
df['match']=matches['Match confidence']
df1 = df.sort_values("match", ascending=False)
df1[['Position', 'Company','Location','match']].head(10).reset_index()

,index,Position,Company,Location,match
0,1790,Full Stack Developer,Han Digital Solution,Bengaluru,54.27
1,1713,Applications Developer 3,Oracle,Bengaluru,53.71
2,1900,Full Stack Developer,Indian Angel network,Bengaluru,53.56
3,1730,Immediate Front End Developer in Hyderabad/ban...,Oloop Technology Solutions Private Limited,Bengaluru,53.41
4,1467,Lead Web Developer / Engineer,Citrix,Bengaluru,53.39
5,1391,Full Stack Developer - IBM Hybrid Cloud,IBM,Bengaluru,53.36
6,1622,Java Full Stack Developer for HCM Cloud Applic...,SAP,Bengaluru,53.09
7,706,Big Data Python Developer,Xebia,â€“ Bengaluru,52.93
8,1442,Senior Developer/UI Developer/Javascript,SuccessFactors,Bengaluru,52.92
9,1694,Developer / Sr Developer/UI Developer/Javascript,SAP,Bengaluru,52.89